@use "root";
@import "partials/navbar";
@import "partials/footer";
@import "partials/help";

.banner {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  text-align: center;
  padding: 1rem;
  form {
    margin: 1rem auto 1rem auto;
    display: grid;
    grid-template-columns: 3rem 15rem 3rem;
    grid-template-rows: 3rem 3rem 3rem;
    grid-row-gap: 1rem;
    .loc,
    .gps,
    .search,
    .location {
      width: 100%;
      height: 100%;
      background-color: white;
    }
    img {
      height: 50%;
      margin-top: 0.75rem;
    }
    .location {
      grid-column-start: 2;
      grid-column-end: 3;
      input {
        width: 80%;
        height: 100%;
      }
    }
    .search {
      grid-column-start: 1;
      grid-column-end: 4;
      input {
        width: 80%;
        height: 100%;
      }
    }
    .btn {
      width: 100%;
      height: 100%;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      button {
        background-color: #021433;
        color: white;
        width: 10rem;
        height: 100%;
      }
      button:hover {
        background-color: root.$midblue;
      }
    }
  }
}

.process {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 1rem;
    color: #2a2d3e;
    background-color: white;

    .heading {
      text-align: center;
      margin-top: 1rem;
    }
    .paragraph {
      text-align: center;
      padding: 1rem;
    }
    .grid {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      .list {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14% auto;
        padding: 1rem 2rem;
        grid-row-gap: 0.5rem;
        text-align: center;
        margin-bottom: 4rem;
        .list-item {
          display: grid;
          grid-template-columns: 20% 80%;
          border: 1px solid rgb(150, 150, 150);
          border-radius: 6px;
          padding: 1.3rem;
          align-items: center;
          transition: 0.5s;
          p {
            color: rgb(150, 150, 150);
          }
          .option {
            padding-left: 7px;
            text-align: left;
            margin-left: 0;
          }
        }
        .list-item:hover {
          border: 1px solid #021433;
          background-color: #cce6ff;
          cursor: pointer;
          p {
            color: #021433;
          }
        }
      }
    }
    .details {
      width: 100%;
      text-align: center;
      img {
        width: 70%;
        object-fit: cover;
      }
      h2 {
        padding: 0 1rem;
        text-align: center;
      }
      p {
        padding: 1.1rem;
        text-align: center;
      }
    }
  }
}

.doctors {
  background-color: #021433;
  text-align: center;
  color: white;
  padding: 1rem;
  .holder {
    margin: 2rem 15% auto 15%;
    .card {
      border-bottom: 0.4rem solid #0099ff;
      background-color: white;
      height: 100%;
      width: 100%;
      position: relative;
      margin: auto auto 1rem auto;
      .info {
        display: grid;
        grid-template-columns: 95%;
        align-items: end;
      }
      .image {
        width: 100%;
        height: 280px;
      }
      img {
        height: 100%;
        width: 100%;
        position: relative;
        object-fit: cover;
      }
      #name {
        position: relative;
        color: #0099ff;
        font-weight: bolder;
      }
      h4,
      p {
        line-height: 1.2rem;
        margin-left: 3rem;
        margin-bottom: 0.2rem;
        text-align: left;
        color: #291433;
      }
      #name:before {
        content: "";
        position: absolute;
        top: calc(100% - 5px);
        left: -48px;
        width: 35px;
        height: 3px;
        background-color: #0099ff;
      }
    }
  }
}

.treatments {
  padding: 1rem;
  background-color: white;
  color: root.$darkblue;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  .holder {
    margin: 2rem auto 2rem auto;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .card {
      position: relative;
      width: 350px;
      height: 400px;
      background-size: cover;
      background-position: 50% 0%;
      margin-bottom: 1rem;
      .name {
        position: absolute;
        bottom: 3rem;
        left: 5%;
        color: white;
        font-weight: bolder;
      }
      .number {
        position: absolute;
        bottom: 1rem;
        left: 5%;
        color: white;
      }
    }
    .card-1 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--010.jpg");
    }
    .card-2 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--009.jpg");
    }
    .card-3 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--008.jpg");
    }
    .card-4 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--011.jpg");
    }
    .card-5 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--000.jpg");
    }
    .card-6 {
      background-image: linear-gradient(to top, #010916ff, #01091600),
        url("../images/image--006.jpg");
    }
  }
}

.misc {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  background-color: #ededed;
  padding: 1rem;
  color: root.$darkblue;
  text-align: center;
  .grid {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem 1rem;
    margin: 2rem auto 2rem auto;
    .item {
      background-color: lightgrey;
      border-radius: 3%;
      width: 100%;
    }
    h4 {
      margin-top: 0;
      color: grey;
    }
  }
}

// END MOBILE VIEW

// BEGIN TABLET VIEW

@media screen and (min-width: 412px) and (max-width: 768px) {
  .process .container {
    .grid {
      grid-template-columns: auto auto;
      .list {
        grid-template-rows: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
        .list-item {
          grid-template-columns: 15% 85%;
        }
      }
      .details {
        img {
          width: 80%;
        }
        h2 {
          padding: 1rem 1rem 0rem;
        }
        p {
          padding: 1.1rem 2rem;
        }
      }
    }
  }
  // process end

  .doctors .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
    align-items: stretch;
    margin: 2rem 1rem 2rem 1rem;
    .card {
      margin: auto;
    }
  }
  // doctors end

  .treatments .holder {
    width: 100%;
    // display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 1rem 1rem;
    .card {
      width: 100%;
      height: 100%;
      margin: 0;
      justify-self: center;
    }
  }
  //treatments end

  .misc .grid {
    grid-template-columns: 150px 150px 150px;
  }
  // misc end
}

// END TABLET VIEW

// BEGIN DESKTOP VIEW

@media screen and (min-width: 769px) {
  .section {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .banner {
    text-align: left;
    display: block;
    h1,
    p {
      margin-left: 0;
    }
    h1 {
      margin-top: 10rem;
    }
    p {
      grid-row-start: 2;
      margin-bottom: 3rem;
    }
    form {
      grid-template-columns: 3rem 12rem 3rem 21rem 10rem;
      grid-template-rows: 3rem 0 0;
      grid-row-gap: 0;
      margin-bottom: 3rem;
      img {
        margin-left: 0.75rem;
      }
      .search {
        grid-column-start: 4;
        grid-column-end: 5;
      }
      .btn {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }
  // banner end

  .process .container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 1rem;
    color: #2a2d3e;
    .heading {
      text-align: left;
    }

    .paragraph {
      text-align: left;
      margin: 0% 0% 5% 0%;
      padding: 0;
    }

    .grid {
      display: grid;
      grid-template-columns: 35% auto;
      justify-content: space-between;
      align-items: center;
    }

    .grid .list {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
      padding: 1rem 0rem;
      grid-row-gap: 0.5rem;
      text-align: center;
      margin-bottom: 8rem;
    }

    .grid .list .list-item {
      display: grid;
      grid-template-columns: 20% 80%;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 2rem 1rem;
      align-items: center;
    }

    .grid .details {
      width: 100%;
      text-align: center;
      margin-left: 2.5rem;
    }

    .grid .details img {
      width: 70%;
      object-fit: cover;
    }

    .grid .details h2 {
      margin-top: 1rem;
      padding: 0 1rem;
      text-align: center;
    }

    .grid .details p {
      margin: 0 8rem;
      padding: 1.1rem 5rem;
      text-align: center;
    }
  }
  //process end

  .doctors {
    h1,
    p {
      text-align: left;
    }
    .holder {
      margin: 2rem 1rem 2rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: stretch;
      grid-gap: 0 1rem;
      .card {
        margin: auto;
      }
    }
  }
  //doctors end

  .treatments {
    text-align: left;
    h1,
    p {
      align-self: start;
      margin-left: 0;
    }
    .holder {
      width: 100%;
      margin: 2rem auto 2rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 200px 50px 50px 50px 50px 200px;
      grid-gap: 0.7rem 0.7rem;
      .card {
        width: 100%;
        height: 100%;
        margin: 0;
        justify-self: center;
        .name,
        .number {
          left: -2rem;
        }
        p {
          margin-left: 3rem;
        }
      }
      .card-1 {
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .card-2 {
        grid-row-start: 1;
        grid-row-end: 4;
      }
      .card-3 {
        grid-row-start: 1;
        grid-row-end: 3;
      }
      .card-4 {
        grid-row-start: 2;
        grid-row-end: 7;
      }
      .card-5 {
        grid-row-start: 4;
        grid-row-end: 7;
      }
      .card-6 {
        grid-row-start: 3;
        grid-row-end: 7;
      }
    }
  }
  //treatments end

  .misc {
    display: block;
    h1,
    p {
      text-align: left;
    }
    .grid {
      grid-template-columns: 15% 15% 15% 15% 15% 15%;
      margin-left: 1.5rem;
      grid-gap: 0.9rem;
    }
  }
  // misc end
}
// END DESKTOP VIEW
