@use 'root';
@import 'partials/navbar';



.main{
    background-color: root.$lightblue;
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    .box{
        width: 90%;
        height: 40rem;
        background-color: white;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
        .head{
            width: 100%;
            border-bottom: 1px solid lightgray;
            display: grid;
            justify-items: center;
            color: root.$midblue;
        }
        form{
            width: 80%;
            display: grid;
            grid-template-columns: 100%;
            align-items: center;
            margin-top: 1rem;
            .gender{
                display: grid;
                grid-template-columns: 4rem 2rem auto 2rem auto 2rem auto;
                p{
                    margin: auto 0;
                }
                input{
                    height: initial;
                    width: initial;
                    margin: auto;
                }
            }
            #image{
                height: 100%;
                border: none;
                width: fit-content;
                height: initial;
            }
            .dob{
                height: 100%;
                display: grid;
                grid-template-columns: auto 0.9fr;
                align-items: center;
                input{
                    height: 80%;
                }
            }
            .place{
                width: 100%;
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                input{
                    // width: 45%;
                    // height: 80%;
                }
            }
            input,button{
                height: 80%;
            }
            input{
                border: 1px solid lightgray;
                border-radius: 0.2rem;
                padding-left: 1rem;
            }
            button{
                background-color: root.$darkblue;
                color: white;
                font-size: 1.1rem;
                padding-left: 5.5rem;
                span{
                    margin-left: 0.5rem;
                }
                i{
                    margin-left: 30%;
                }
            }
            p{
                font-size: 0.9rem;
                font-weight: bold;
                a{
                    color: root.$midblue;
                }
            }
        }
    }
    .footer{
        display: grid;
        grid-template-columns: auto;

        p{
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}



// BEGIN TABLET VIEW

@media screen and (min-width: 412px) and (max-width: 768px){
    .main{
        height: 65rem;
        .box{
            width: 70%;
            form{
                button{
                    padding-left: 30%;
                    i{
                        margin-left: 35%;
                    }
                }
            }
        }
        .footer{
            align-self: end;
            margin-bottom: 2rem;
        }
    }
}



// BEGIN DESKTOP VIEW

@media screen and (min-width: 769px){
    .section{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .main{
        height: 75rem;
        .box{
            width: 40%;
            form{
                button{
                    padding-left: 30%;
                    i{
                        margin-left: 40%;
                    }
                }
            }
        }
        .footer{
            align-self: end;
            margin-bottom: 2rem;
        }
    }
}