@font-face {
  font-family: "NexaBold";
  src: url("../font/Nexa-Bold.otf");
}
@font-face {
  font-family: "Nexalight";
  src: url("../font/Nexa-Light.otf");
}
h1, h2, h3, h4 {
  font-family: "NexaBold";
  margin: 1rem auto 1rem auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin: 0.5rem auto 0.5rem auto;
}

body {
  font-family: "NexaLight";
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1rem;
}

button {
  border: none;
  border-radius: 3%;
  cursor: pointer;
  transition: 0.5s;
}

input {
  border: 0;
  padding: 0;
}

.flash {
  width: 100%;
  height: 3rem;
}
.flash .alert {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  font-weight: bold;
}
.flash .alert-danger {
  background-color: #fa7777;
}
.flash .alert-success {
  background-color: #92fa62;
}

@media screen and (min-width: 412px) and (max-width: 768px) {
  h1 {
    font-size: 2.05rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.55rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  body {
    font-size: 1.05rem;
  }

  h1, h2, h3, h4 {
    margin: 1.5rem auto 1.5rem auto;
  }
}
@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  body {
    font-size: 1.1rem;
  }

  h1, h2, h3, h4 {
    margin: 2rem auto 2rem auto;
  }
}
.hidden {
  display: none;
}

nav {
  background-color: white;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 50%;
  margin-left: 0.5rem;
  cursor: pointer;
}
nav .navbar-menu {
  display: none;
}
nav .navbar-menu a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #021433;
}
nav .navbar-buttons {
  display: none;
}
nav .fa {
  color: #525659;
  font-size: 1.5rem;
  margin: auto 0.5rem;
}

.nav-dropdown {
  padding: 1rem;
}
.nav-dropdown ul {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.7rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #021433;
}
.nav-dropdown ul a {
  text-decoration: none;
  color: #021433;
}

@media screen and (min-width: 769px) {
  nav {
    height: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  nav img {
    height: 40%;
    margin-left: 0;
  }
  nav .navbar-menu {
    display: block;
  }
  nav .navbar-menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0;
    grid-gap: 1rem;
  }
  nav .fa {
    display: none;
  }
  nav .navbar-buttons {
    display: block;
  }
  nav .navbar-buttons button {
    height: 2rem;
    width: 8rem;
    border-radius: 5%;
  }
  nav .navbar-buttons .login-button {
    background-color: white;
    border: 1px solid #021433;
  }
}
.main {
  background-color: #8fcaf1;
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
}
.main .box {
  width: 90%;
  height: 40rem;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
}
.main .box .head {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: grid;
  justify-items: center;
  color: #0099ff;
}
.main .box form {
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  margin-top: 1rem;
}
.main .box form .gender {
  display: grid;
  grid-template-columns: 4rem 2rem auto 2rem auto 2rem auto;
}
.main .box form .gender p {
  margin: auto 0;
}
.main .box form .gender input {
  height: initial;
  width: initial;
  margin: auto;
}
.main .box form #image {
  height: 100%;
  border: none;
  width: fit-content;
  height: initial;
}
.main .box form .dob {
  height: 100%;
  display: grid;
  grid-template-columns: auto 0.9fr;
  align-items: center;
}
.main .box form .dob input {
  height: 80%;
}
.main .box form .place {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .box form input, .main .box form button {
  height: 80%;
}
.main .box form input {
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  padding-left: 1rem;
}
.main .box form button {
  background-color: #021433;
  color: white;
  font-size: 1.1rem;
  padding-left: 5.5rem;
}
.main .box form button span {
  margin-left: 0.5rem;
}
.main .box form button i {
  margin-left: 30%;
}
.main .box form p {
  font-size: 0.9rem;
  font-weight: bold;
}
.main .box form p a {
  color: #0099ff;
}
.main .footer {
  display: grid;
  grid-template-columns: auto;
}
.main .footer p {
  font-size: 0.9rem;
  font-weight: bold;
}

@media screen and (min-width: 412px) and (max-width: 768px) {
  .main {
    height: 65rem;
  }
  .main .box {
    width: 70%;
  }
  .main .box form button {
    padding-left: 30%;
  }
  .main .box form button i {
    margin-left: 35%;
  }
  .main .footer {
    align-self: end;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .section {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .main {
    height: 75rem;
  }
  .main .box {
    width: 40%;
  }
  .main .box form button {
    padding-left: 30%;
  }
  .main .box form button i {
    margin-left: 40%;
  }
  .main .footer {
    align-self: end;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=signup.css.map */
