.footer {
    padding: 1rem;
    text-align: center;
    background-color: root.$darkblue;
    color: #cccccc;
    border-bottom: 0.5rem solid root.$midblue;
    grid-row-gap: 1rem;
    img{
        height: 40px;
    }
    a{
        text-decoration: none;
    } 
    h2 {
        color: white;
    }
    p{
        font-size: small;
    }
    ul{
        padding: 0;
    }
    li{
        margin-bottom: 0.5rem;
    }
    .icons{
        display: none;
        grid-template-columns: 20% 20% 20% 20% 20% ;
        justify-items: center;
        align-items: center;
        grid-column-gap: 0.5rem;
        grid-column-start: 2;
        grid-row-start: 2;
    }
}


@media screen and (min-width: 412px) and (max-width: 768px){
    .footer{
        color: root.$darkblue;
        background-color: white;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
        justify-items: start;
        .follow{
            display: none;
        }
        h2{
            display: none;
        }
        ul{
            display: grid;
            align-items: center;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-template-columns: auto auto auto auto auto;
            li{
                margin-right: 1rem;
            }
        }
        img{
            grid-column-start: 2;
            justify-self: end;
        }
        p{
            grid-column-start: 1;
            grid-row-start: 2;
            font-size: large;
            margin-left: 0;
        }
        .icons{
            display: grid;
            margin-right: 2rem;
            justify-self: end;
        }
        a{
            color: root.$darkblue;
        }
    }
}



@media screen and (min-width: 769px){

    .footer{
        color: root.$darkblue;
        background-color: white;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto auto;
        justify-items: start;
        .follow{
            display: none;
        }
        h2{
            display: none;
        }
        ul{
            display: grid;
            align-items: center;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-template-columns: auto auto auto auto auto;
            li{
                margin-right: 1rem;
            }
        }
        img{
            grid-column-start: 2;
            justify-self: end;
        }
        p{
            grid-column-start: 1;
            grid-row-start: 2;
            font-size: large;
            margin-left: 0;
        }
        .icons{
            display: grid;
            margin-right: 2rem;
            justify-self: end;
        }
        a{
            color: root.$darkblue;
        }
    }

}

